@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 71px;
}

.navigation-item {
  margin-bottom: 4px;
  margin-top: 3px;
}

.navigation-user {
  margin-left: auto;
  margin-right: 72px;
}

.sedona-arm {
  margin: 0 auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 16px;
}

.main-container {
  flex-grow: 1;
}

.logo-container {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 63px;
}

.logo-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url(../images/mask-bg.svg) no-repeat 50% 50%;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 79px;
}

.intro {
  width: 720px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 63px;
}

.advantages-intro {
  text-align: center;
  margin-bottom: 79px;
}

.advantages-causes {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #83B3D3;
  min-width: 400px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-causes-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-causes-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-causes-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.cause-first::after {
  content: url(../images/sedona-street.jpg);
  width: 800px;
  height: 384px;
}

.cause-second::before {
  content: url(../images/devils-bridge.jpg);
  width: 800px;
  height: 384px;
}

.light-cold {
  background-color: rgba(131, 179, 211, 0.12);
}

.cold {
  background-color: rgba(131, 179, 211, 0.2);
}

.offer {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 720px;
  margin: 0 auto;
}

.offer-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.offer-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-footer {
  text-align: center;
}

.subscribe-index {
  background-image: url("../images/footer-bg.jpg");
  background-color: #83B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.offer-subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.info-subscribe {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-contacts {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  width: 120px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 720px;
  margin: 0 auto;
}

.logo-button {
  width: 115px;
  margin-right: 72px;
}

/* оформление каталога */

.hotel-filter {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  background-image: url("../images/catalog-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.hotel-filter-container {
  display: flex;
  flex-direction: column;
}

.inner-title {
  width: 528px;
  margin-left: 71px;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  width: 115px;
  margin-left: 77px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0 auto;
}

.infrastructure {
  width: 150px;
}

.housing {
  width: 150px;
}

.price {
  width: 528px;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.found-options {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.sorting-type-container {
  display: flex;
}

.amound-of-options {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 400px;
  margin-left: 71px;
}

.select-controle {
  width: 287px;
  height: 48px;
  margin-left: 192px;
}

.view-mode {
  display: flex;
  width: 156px;
  margin-left: 81px;
}

.product-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.catalog-offer-subscribe {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-info-subscribe {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
